Makefile
scripts/Makefile
src/Makefile
tech/Makefile
tech/osu018/Makefile
tech/osu035/Makefile
tech/osu050/Makefile
config.status
config.cache
config.log
src/*.o
src/*.so
scripts/addspacers.tcl
scripts/blif2cel.tcl
scripts/blifanno.tcl
scripts/checkdirs.sh
scripts/decongest.tcl
scripts/getfillcell.tcl
scripts/place2def.tcl
scripts/place2lef2.tcl
scripts/place2net2.tcl
scripts/powerbus.tcl
scripts/qflow
scripts/qflow.sh
scripts/ybuffer.tcl
scripts/ypostproc.tcl
src/blif2BSpice
src/blif2Verilog
src/blifFanout
src/spice2delay
src/vesta
tech/osu018/osu018.magicrc
tech/osu035/osu035.magicrc
tech/osu050/osu050.magicrc
*~
UPDATE_ME
VERSION
